body {
  background-image: url(../assets/bg-snow.png);
}

main {
  margin: 140px
}

#book-body {
  text-align: left;
}

.right {
  float: right;
}

ul {
  color: rgba(0, 0, 0, 0.84);
  list-style-type: none;
  padding: 0 40px;
  margin: 0;
}
li {
  padding: 0.4rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color .3s;
}
li:hover {
  color: #36b030;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
li + li {
  border-top: 1px solid #CFB78E;
}
header .right > span {
  float: left;
  margin-right: 0.8rem;
}
header > div {
  display: inline-block;
}

#list-header {
  cursor: default;
  font-weight: 400;
  text-align: center;
  font-size: 0.9rem;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.84) !important;
}

@media screen and (max-width: 768px) {
  main {
    margin: 140px 10px 60px;
  }
}
